@import "primeicons/primeicons.css";
body{
    min-height: 100vh;
    background: linear-gradient(to bottom, #121214, #282828);
    font-size: 1rem; 
    line-height: 1.5; 
}

h1, p {
    color: whitesmoke !important;
}

.p-paginator.p-component{
    border-radius: 0 0 8px 8px;
}

button.p-ripple.p-button.p-component.p-button-icon-only.p-button-raised.p-button-rounded.p-button-text{
    background: #18181b;
}

ol.p-metergroup-label-list.p-component.p-metergroup-label-list-horizontal{
    justify-content: space-between;
}

.text-center p {
    font-size: clamp(1rem, 4vw, 1.2rem);
}

.col-md-12.d-flex.flex-column.align-items-center.justify-content-center.gap-4{
    padding-right: 0;
}

.p-dialog-header.ng-star-inserted{
    margin-left: 20px;
}