<div class="container py-2 teste">
  <div class="text-center mb-4">
    <h1>Task Board</h1>
    <div>
      <p class="lead">Manage Your Tasks</p>
      <p-button
        icon="pi pi-sign-out"
        [rounded]="true"
        [text]="true"
        [raised]="true"
        (onClick)="logOut()"
      />
    </div>
  </div>

  <div class="table-responsive table-container p-4 rounded">
    <div class="col-12 mb-2">
      <div>
        @if(isLoadingReports){
          <div class="col-12 d-flex justify-content-center loading-container">
            <p-progressSpinner class="loading-container" styleClass="spinner" animationDuration=".5" />
          </div>
        } @else if(!hasFilter){
          <p-metergroup [value]="reportsValues" [max]="totalRecords" />
        }
      </div>
      <div class="col-12 my-2 d-flex justify-content-between">
        <p-button
        icon="pi pi-plus"
        [rounded]="true"
        [text]="true"
        [raised]="true"
        (onClick)="toggleCreationDialog()"
      />
        <div class="d-flex gap-2">
          <p-button
            icon="pi pi-filter-slash"
            [rounded]="true"
            [text]="true"
            [raised]="true"
            (onClick)="clearFilters()"
          />
          <p-dropdown
          [(ngModel)]="filterStatus"
          [options]="statusOptions"
          placeholder="Status"
          (onChange)="filterTasks()"
          >
          </p-dropdown>
        </div>
    </div>
    </div>
    <p-table
      #taskTable
      [value]="tasks"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="rowsPerPage"
      [rowsPerPageOptions]="[5, 10, 20]"
      [loading]="isLoadingTasks"
      [scrollable]="true"
      scrollHeight="400px"
      [totalRecords]="totalRecords"
      (onPage)="onPageChange($event)"
      [first]="first"
      [lazy]="true"
    >
      <ng-template #header>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Due Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template #body let-task>
        <tr>
          <td>{{ task.title }}</td>
          <td class="description-column">{{ task.description }}</td>
          <td>{{ task.dueDate | date : "dd/MM/yyyy HH:mm:ss" }}</td>
          <td class="status-column">
            <p-badge
              [value]="formatStatus(task.status)"
              [severity]="getStatusSeverity(task.status)"
            >
            </p-badge>
          </td>
          <td class="action-column">
            <button
              *ngIf="task.status != 'DONE'"
              pButton
              icon="pi pi-check"
              class="p-button-rounded p-button-success me-2"
              (click)="completeTask(task)"
            ></button>
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-rounded p-button-info me-2"
              (click)="setEdition(task)"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              (click)="confirmDeletion(task.id, task.status)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="col-12 mt-4">
      <blockquote class="text-center">
        {{ quote }} <br />
        {{ "-" + author }}
      </blockquote>
      <p-confirmdialog />
    </div>
  </div>

  <p-dialog
    header="New Task"
    class="header"
    [modal]="true"
    [(visible)]="visibleCreateDialog"
    [style]="{ width: '90%', maxWidth: '35rem' }"
  >
    <div class="container">
      <form #taskForm="ngForm">
        <div class="row g-3 p-2">
          <div class="col-12">
            <p-floatlabel variant="on" class="w-100">
              <input
                pInputText
                id="title"
                [(ngModel)]="newTask.title"
                autocomplete="off"
                class="w-100"
                name="title"
                required
              />
              <label for="title">Title</label>
            </p-floatlabel>
          </div>

          <div class="col-12">
            <p-floatlabel variant="on" class="w-100">
              <textarea
                rows="5"
                pTextarea
                [(ngModel)]="newTask.description"
                class="w-100"
                name="description"
                required
              ></textarea>
              <label for="description">Description</label>
            </p-floatlabel>
          </div>

          <div class="col-6">
            <p-floatlabel variant="on" class="w-100">
              <p-select
                [options]="statusOptions"
                [(ngModel)]="newTask.status"
                [checkmark]="true"
                optionLabel="label"
                optionValue="value"
                [showClear]="true"
                class="w-100"
                appendTo="body"
                name="status"
                required
              />
              <label for="status">Status</label>
            </p-floatlabel>
          </div>
          <div class="col-6">
            <p-floatlabel variant="on" class="w-100">
              <p-datepicker
                [(ngModel)]="newTask.dueDate"
                [showIcon]="true"
                inputId="buttondisplay"
                [showOnFocus]="false"
                dateFormat="dd/mm/yy"
                [showTime]="true"
                [hourFormat]="'12'"
                class="w-100"
                appendTo="body"
                name="dueDate"
              />
              <label for="dueDate">Due Date</label>
            </p-floatlabel>
          </div>
        </div>
      </form>
    </div>

    <div class="d-flex justify-content-end gap-2 mt-3 buttons-container">
      <p-button
        label="Cancel"
        severity="secondary"
        (click)="visibleCreateDialog = false"
      />
      <p-button
        [label]="isLoadingTaskCreation ? 'Saving...' : 'Save'"
        (click)="createTask()"
      />
    </div>
  </p-dialog>

  <p-dialog
    header="Edit Task"
    [modal]="true"
    [(visible)]="visibleEditDialog"
    [style]="{ width: '90%', maxWidth: '35rem' }"
  >
    <div class="container">
      <form #taskForm="ngForm">
        <div class="row g-3 p-2">
          <div class="col-12">
            <p-floatlabel variant="on" class="w-100">
              <input
                pInputText
                id="title"
                [(ngModel)]="taskToUpdate.title"
                autocomplete="off"
                class="w-100"
                name="title"
                required
              />
              <label for="title">Title</label>
            </p-floatlabel>
          </div>

          <div class="col-12">
            <p-floatlabel variant="on" class="w-100">
              <textarea
                rows="5"
                pTextarea
                [(ngModel)]="taskToUpdate.description"
                class="w-100"
                name="description"
                required
              ></textarea>
              <label for="description">Description</label>
            </p-floatlabel>
          </div>

          <div class="col-6">
            <p-floatlabel variant="on" class="w-100">
              <p-select
                [options]="statusOptions"
                [(ngModel)]="taskToUpdate.status"
                [checkmark]="true"
                optionLabel="label"
                optionValue="value"
                [showClear]="true"
                class="w-100"
                appendTo="body"
                name="status"
                required
              />
              <label for="status">Status</label>
            </p-floatlabel>
          </div>
          <div class="col-6">
            <p-floatlabel variant="on" class="w-100">
              <p-datepicker
                [(ngModel)]="taskToUpdate.dueDate"
                [showIcon]="true"
                inputId="buttondisplay"
                [showOnFocus]="false"
                dateFormat="dd/mm/yy"
                [showTime]="true"
                [hourFormat]="'12'"
                class="w-100"
                appendTo="body"
                name="dueDate"
              />
              <label for="dueDate">Due Date</label>
            </p-floatlabel>
          </div>
        </div>
      </form>
    </div>

    <div class="d-flex justify-content-end gap-2 mt-3 buttons-container">
      <p-button
        label="Cancel"
        severity="secondary"
        (click)="visibleEditDialog = false"
      />
      <p-button
        [label]="isLoadingTaskEdition ? 'Editing...' : 'Edit'"
        (click)="editTask()"
      />
    </div>
  </p-dialog>
  <p-toast />
</div>

